html, body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
    scroll-padding-top: 100px;
}

header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    background-color: black;
    position: fixed;
    margin: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.nav-points {
    margin-right: 20px;
}

.nav-points li {
    display: inline;
    margin-left: 20px;
}

a {
    color: seashell;
}

a:hover {
    color: gray;
}

a:active {
    background-color: gray;
    color: white;
}

.logo {
    float: left;
    margin: 10px;
    height: 50px;
}

.mission {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-img {
    width: 1200px;
    height: 700px;
}

.mission-text {
    position: absolute;
    background-color: black;
    width: 1200px;
    
}

.mission-text h2, h4 {
    margin: 10px auto;
}

.totm-head {
    margin-top: 80px;
}

.totm-container {
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 50px 20px;
    flex-flow: row wrap;
}

.totm-tea {
    height: 200px;
    width: 300px;
}

.totm-img {
    height: 200px;
    width: 300px;
}

#location-nav {
    margin: 80px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    background-image: url(../images/img-locations-background.jpg);
    width: 1200px;
    height: 500px;
    padding-top: 70px;
    gap: 15px;
}
.location-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px 40px;
}

.location-head {
    text-align: center;
    margin: 0;
}

.location-img {
    height: 500px;
    width: 1200px;
}

.location-box {
    height: 300px;
    width: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

.contact h2, h5 {
    margin: 0;
}

#copyright {
    text-align: left;
    margin: 20px;
}